html, body {
	margin: 0;
	padding: 0;
	background-image: url("../images/blueprint.jpg");
	background-repeat: repeat-xy;
}

h1, h2, h3, h4 {
	text-align: center;
}

div.header {
	background-color: #FFFFFF;
	text-align: center;
	color: blue;
	height: 50px;

	margin: 0px 0px 15px;
}

div.sidebar {
	float: left;
	background-color: DeepSkyBlue;
	color: blue;
	text-align: center;
	width: 150px;

	margin: 0px 0px 0px 30px;

	border: 10px groove DarkBlue;
}

div.sidebar ul {
	list-style-type: none;
	margin: 0px 15px;
}

div.sidebar li {
	width: 120px;
	display: inline-block;
	background-color: LightSkyBlue;
	border: 5px ridge ForestGreen;
	vertical-align: middle;
	text-align: center;
	margin: 5px 0px;
}

div.main {
	color: white;
	width: 77%;
	
	margin: 0px 0px 0px 200px;

	border: 10px groove DarkBlue;
}
