html, body {
	margin: 0;
	padding: 0;
	background-image: url("../images/blueprint.jpg");
	background-repeat: repeat-xy;
}

h1, h2, h3, h4 {
	text-align: center;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: underline;
}

a:visited {
	color: green;
	text-decoration: none;
}

div.header {
	background-color: DarkBlue;
	text-align: center;
	color: blue;
	height: 65px;

	position: fixed;
	top: -0px;

	width: 100%;

	margin: 0px 0px 5px;
}

div.sidebar {
	float: left;
	color: white;
	text-align: center;
	width: 150px;

	margin: 0px 0px 0px 30px;

	border: 10px groove DarkBlue;
}

div.sidebar ul {
	list-style-type: none;
	margin: 0px 15px;
	color: blue;
}

div.sidebar li {
	width: 120px;
	display: inline-block;
	background-color: LightSkyBlue;
	border: 5px ridge ForestGreen;
	vertical-align: middle;
	text-align: center;
	margin: 5px 0px;
	position: relative;
	left: -43px;
}

div.sidebar li:hover {
	background-color: DeepSkyBlue;
	transition: .5s;
	border: 5px groove ForestGreen;
}

div.main {
	padding: 15px;
	color: white;
	width: 77%;
	
	margin: 90px 0px 0px 200px;

	border: 10px groove DarkBlue;
}
